# Ignore output data and models
models/*

# Ignore build directory
build/

# Ignore profiler output (rocprof / perf)
prof_out/
results.json
results.sysinfo.txt
*.pftrace
perf.data
perf.data.old

*.ppm

CMakeCache.txt
*/CMakeFiles/
*/cmake_install.cmake
*/Makefile

CMakeFiles/
cmake_install.cmake
Makefile

# Ignore Visual Studio files
.vs/*



